<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="finalDBEntities" connectionString="metadata=res://*/finalDBModel.csdl|res://*/finalDBModel.ssdl|res://*/finalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=tcp:khg7zjnows.database.windows.net,1433;initial catalog=finalDB;persist security info=True;user id=nhti@khg7zjnows;password=EndersGame1;connect timeout=30;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>