<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="finalDBEntities" connectionString="metadata=res://*/finalDBModel.csdl|res://*/finalDBModel.ssdl|res://*/finalDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=finalDB;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>